header {
    background-color: darkslategrey;
    color: beige;
}

main {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("assignment/styles.css");
    background-repeat: repeat;
    margin: 0;
}