header {
    background-color: darkslategrey;
    color: beige;
    text-align: center;
}

main {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("https://iili.io/JoSMIDl.png");
    background-repeat: repeat;
    margin: 0;
}